# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
.venv/
venv/
dist/
build/

# Firebase
backend/firebase-service-account.json

# React Native
frontend/node_modules/
frontend/.gradle/
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/app/debug/
frontend/android/app/release/
frontend/ios/build/
frontend/ios/Pods/
frontend/.env
frontend/**/*.jks
frontend/**/*.p8
frontend/**/*.p12
frontend/**/*.mobileprovision
frontend/**/*.orig.*
frontend/android/app/google-services.json

# General
.DS_Store
*.log
